@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Questrial&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.maitree  {
    font-family: "Maitree", serif; 
    font-style: normal;
  }
  
.questrial {
    font-family: "Questrial", sans-serif; 
    font-style: normal;
  }
  .bod{
    background: rgb(244, 253, 200);
  }
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .Rmg {
    animation: rotate360 2s linear infinite;
  }
  